<div id="wrapper">
<div><div>All presented goods in our online store are original.</div>
<div>We understand the experiences of our new customers about the quality of our products. Indeed, today, on the Internet, in fact, as in ordinary stores, a lot of fakes are sold.
We eliminate all the experiences of our customers very simply - we allow and even ask to open the parcel and check with our courier.
 </div>
<div>
We trade only original goods at reasonable prices.
</div>
<div id='important'>
    <i class="fas fa-exclamation"></i>
Delivery only within Ukraine.</div>
</div>
<div><i class="fas fa-truck fa-5x"></i></div>
</div>