<div id="wrapper">
    <div class="boxes" data-aos="fade-in">
        <mat-card>
            <i class="fab fa-pagelines fa-7x"></i>
            <span>Only natural ingredients</span>
        </mat-card>
    </div>
    <div class="boxes" data-aos="fade-in">
        <mat-card>
            <i class="fas fa-paw fa-7x"></i>
            <span>Our products have not been tested on animals</span>
        </mat-card>
    </div>
    <div class="boxes" data-aos="fade-in"> 
        <mat-card>
            <i class="far fa-star fa-7x"></i>
            <span>High quality</span>
        </mat-card>
    </div>
    <div class="boxes" data-aos="fade-in">
        <mat-card>
            <i class="fas fa-hand-holding-usd fa-7x"></i>
            <span>Low prices</span>
        </mat-card>
    </div>
</div>