#header-container{
    display: flex;
    justify-content: space-between;
    font-size: 2.5vh;
    background-color: #8DB9CA;
    background-image: url(/assets/header.png);
    color:white;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    position: fixed;
    height: 70px;
    top: 0;
    z-index: 2;
}
#header-content{
    display: flex;
    justify-content: space-between;
    width: 40%;
}
span{
    cursor: pointer;
}

::ng-deep .mat-menu-panel {
    background: white!important;
}
::ng-deep .mat-menu-item{
    color: #8DB9CA!important;
}