<div id="footer-container">
    <div id="footer-back">
<div id="social">
    <span><i class="fab fa-facebook fa-3x"></i></span>
    <span><i class="fab fa-instagram fa-3x"></i></span>
    <span><i class="fab fa-telegram-plane fa-3x"></i></span>
</div>
<hr>
<div id="columns">
    <div class="contact-info"><span class="lab">Telephones:</span>
    <span>+380 00 000 0000</span>
    <span>+380 00 000 0000</span>
</div>
<div class="contact-info">
    <span class="lab">Email:</span>
    <span>+test@gmail.com</span>
</div>
</div>
<hr>
<div>
    <a>Terms and conditions</a>
</div>
</div>
</div>